.mstheme     { separator-image: url(loohorsa.gif); list-image-1: url(loobul1a.gif); 
               list-image-2: url(loobul2a.gif); list-image-3: 
               url(loobul3a.gif); nav-banner-image: url(loobanna.gif); 
               navbutton-horiz-normal: url(loohbuda.gif); 
               navbutton-horiz-hovered: url(loohbuha.gif); 
               navbutton-horiz-pushed: url(loohbusa.gif); 
               navbutton-vert-normal: url(loovbuda.gif); 
               navbutton-vert-hovered: url(loovbuha.gif); 
               navbutton-vert-pushed: url(loovbusa.gif); 
               navbutton-home-normal: url(loohomda.gif); 
               navbutton-home-hovered: url(loohomha.gif); 
               navbutton-home-pushed: url(loohomsa.gif); 
               navbutton-next-normal: url(loonexda.gif); 
               navbutton-next-hovered: url(loonexha.gif); 
               navbutton-next-pushed: url(loonexsa.gif); 
               navbutton-prev-normal: url(loopreda.gif); 
               navbutton-prev-hovered: url(loopreha.gif); 
               navbutton-prev-pushed: url(loopresa.gif); navbutton-up-normal: 
               url(looupda.gif); navbutton-up-hovered: url(looupha.gif); 
               navbutton-up-pushed: url(looupsa.gif) }
.mstheme-bannertxt { color: rgb(0, 0, 0); font-size: 6; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-horiz-navtxt { color: rgb(0, 0, 0); font-size: 2; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-vert-navtxt { color: rgb(0, 0, 0); font-size: 2; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxthome { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtnext { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtprev { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtup { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
ul           { list-style-image: url('loobul1a.gif') }
ul ul        { list-style-image: url('loobul2a.gif') }
ul ul ul     { list-style-image: url('loobul3a.gif') }
a:link       { color: rgb(204, 51, 51) }
a:active     { color: rgb(255, 51, 102) }
a:visited    { color: rgb(128, 128, 128) }
body         { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0) }
table        { table-border-color-light: rgb(192, 192, 192); table-border-color-dark: 
               rgb(0, 0, 0) }
h1           { color: rgb(153, 51, 0) }
h2           { color: rgb(102, 102, 153) }
h3           { color: rgb(153, 51, 0) }
h4           { color: rgb(102, 102, 153) }
h5           { color: rgb(153, 51, 0) }
h6           { color: rgb(102, 102, 153) }
button       { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255) }
label        { color: rgb(0, 0, 0) }
.mstheme-text { background-color: rgb(0, 0, 0); color: rgb(11, 0, 0) }
textarea     { color: rgb(0, 0, 0) }
fieldset     { color: rgb(0, 0, 0) }
legend       { color: rgb(0, 0, 0) }
select       { color: rgb(0, 0, 0) }
caption      { color: rgb(0, 0, 0) }
th           { color: rgb(0, 0, 0) }
.mstheme-bannertxt a:link { color: rgb(102, 0, 153) }
.mstheme-bannertxt a:active { color: rgb(204, 153, 51) }
.mstheme-bannertxt a:visited { color: rgb(153, 153, 0) }
.mstheme-bannertxt-g { color: rgb(0, 0, 0); font-size: 6; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-bannertxt-g a:link { color: rgb(102, 0, 153) }
.mstheme-bannertxt-g a:active { color: rgb(204, 153, 51) }
.mstheme-bannertxt-g a:visited { color: rgb(153, 153, 0) }
.mstheme-bannertxt-s { color: rgb(0, 0, 0); font-size: 6; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-bannertxt-s a:link { color: rgb(102, 0, 153) }
.mstheme-bannertxt-s a:active { color: rgb(204, 153, 51) }
.mstheme-bannertxt-s a:visited { color: rgb(153, 153, 0) }
.mstheme-horiz-navtxt a:link { color: rgb(102, 0, 153) }
.mstheme-horiz-navtxt a:active { color: rgb(204, 153, 51) }
.mstheme-horiz-navtxt a:visited { color: rgb(153, 153, 0) }
.mstheme-horiz-navtxt-g { color: rgb(0, 0, 0); font-size: 2; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-horiz-navtxt-g a:link { color: rgb(102, 0, 153) }
.mstheme-horiz-navtxt-g a:active { color: rgb(204, 153, 51) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(153, 153, 0) }
.mstheme-horiz-navtxt-gs { color: rgb(0, 0, 0); font-size: 2; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-horiz-navtxt-gs a:link { color: rgb(102, 0, 153) }
.mstheme-horiz-navtxt-gs a:active { color: rgb(204, 153, 51) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxthome a:link { color: rgb(102, 0, 153) }
.mstheme-navtxthome a:active { color: rgb(204, 153, 51) }
.mstheme-navtxthome a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxthome-g { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxthome-g a:link { color: rgb(102, 0, 153) }
.mstheme-navtxthome-g a:active { color: rgb(204, 153, 51) }
.mstheme-navtxthome-g a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxthome-gs { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxthome-gs a:link { color: rgb(102, 0, 153) }
.mstheme-navtxthome-gs a:active { color: rgb(204, 153, 51) }
.mstheme-navtxthome-gs a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtnext a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtnext a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtnext a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtnext-g { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtnext-g a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtnext-g a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtnext-g a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtnext-gs { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtnext-gs a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtnext-gs a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtnext-gs a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtprev a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtprev a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtprev a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtprev-g { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtprev-g a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtprev-g a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtprev-g a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtprev-gs { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtprev-gs a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtprev-gs a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtprev-gs a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtup a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtup a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtup a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtup-g { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtup-g a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtup-g a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtup-g a:visited { color: rgb(153, 153, 0) }
.mstheme-navtxtup-gs { color: rgb(0, 0, 0); font-size: 1; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-navtxtup-gs a:link { color: rgb(102, 0, 153) }
.mstheme-navtxtup-gs a:active { color: rgb(204, 153, 51) }
.mstheme-navtxtup-gs a:visited { color: rgb(153, 153, 0) }
.mstheme-topbar-font a:link { color: rgb(102, 0, 153) }
.mstheme-topbar-font a:active { color: rgb(204, 153, 51) }
.mstheme-topbar-font a:visited { color: rgb(153, 153, 0) }
.mstheme-topbar-font-g { color: rgb(0,0,0); font-size: 8pt }
.mstheme-topbar-font-g a:link { color: rgb(102, 0, 153) }
.mstheme-topbar-font-g a:active { color: rgb(204, 153, 51) }
.mstheme-topbar-font-g a:visited { color: rgb(153, 153, 0) }
.mstheme-vert-navtxt a:link { color: rgb(102, 0, 153) }
.mstheme-vert-navtxt a:active { color: rgb(204, 153, 51) }
.mstheme-vert-navtxt a:visited { color: rgb(153, 153, 0) }
.mstheme-vert-navtxt-g { color: rgb(0, 0, 0); font-size: 2; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-vert-navtxt-g a:link { color: rgb(102, 0, 153) }
.mstheme-vert-navtxt-g a:active { color: rgb(204, 153, 51) }
.mstheme-vert-navtxt-g a:visited { color: rgb(153, 153, 0) }
.mstheme-vert-navtxt-gs { color: rgb(0, 0, 0); font-size: 2; font-style: normal; font-weight: normal; 
               text-align: center; vertical-align: middle }
.mstheme-vert-navtxt-gs a:link { color: rgb(102, 0, 153) }
.mstheme-vert-navtxt-gs a:active { color: rgb(204, 153, 51) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(153, 153, 0) }
.ms-addnew   { font-weight: normal; font-size: .68em; text-decoration: none; color: #666633 }
.ms-announcementtitle { font-weight: normal }
.ms-appt     { height: 18px; background-color: #ffffff; overflow: hidden; text-align: center; 
               vertical-align: middle; font-size: 8pt; color: #000000; 
               border: 2px solid #666633 }
.ms-appt a   { color: #000000 }
.ms-appt a:hover { color: red }
.ms-authoringcontrols { background-color: #f2f2f2; color: #000000; font-size: 9pt }
.ms-banner   { color: #ffffcc; font-size: 9pt }
.ms-banner a:link { color: #ffffcc; text-decoration: none; font-weight: normal; font-size: 9pt }
.ms-banner a:visited { font-size: 9pt; text-decoration: none; color: #ffffcc; font-weight: normal }
.ms-bannerframe { background-color: #663399; border-bottom: 4px solid #666633 }
.ms-cal      { border-collapse: collapse; cursor: default; table-layout: fixed }
.ms-calbot   { height: 2px; border-left: 1px solid #000000; border-right: 1px solid #000000; 
               border-top: medium none inherit; 
               border-bottom: 1px solid #000000 }
.ms-caldow   { font-size: 10pt; font-weight: bold; vertical-align: top; text-align: center; 
               height: 20px; border-left: 1px solid #000000; 
               border-right: 1px solid #000000; border-top: 1px solid #000000 }
.ms-caldowdown { vertical-align: middle; color: #000000; text-align: center; font-size: 10pt; 
               font-weight: bold }
.ms-caldown  { vertical-align: top; color: #000000; text-align: left; font-size: 8pt }
.ms-calhead  { font-size: 16pt; background-color: #663399; text-align: center; color: #ffff66; 
               border: medium none inherit; padding: 2px }
.ms-calmid   { height: 20px; border-left: 1px solid #000000; border-right: 1px solid #000000 }
.ms-calspacer { height: 4px; border-left: 1px solid #000000; border-right: 1px solid #000000 }
.ms-caltop   { width: 14%; height: 30px; font-size: 10pt; vertical-align: top; 
               border-left: 1px solid #000000; border-right: 1px solid #000000; 
               border-top: 1px solid #000000 }
.ms-datepicker { background-color: #ffffff; cursor: default; border: 2px outset activeborder }
.ms-datepickeriframe { background-color: white; background-repeat: repeat; background-attachment: 
               scroll; display: none; position: absolute; 
               background-position: 0% }
.ms-descriptiontext { color: #000000; font-size: 9pt }
.ms-descriptiontext a { font-size: 9pt; color: #cc6633 }
.ms-discussiontitle { font-weight: normal; color: #000000; font-size: 9pt }
.ms-dpday    { color: #000000; font-size: 8pt; text-align: center; 
               border: medium none inherit }
.ms-dpdow    { font-size: 8pt; font-weight: bold; vertical-align: top; text-align: center; 
               color: #000000; border-left: medium none inherit; 
               border-right: medium none inherit; 
               border-top: medium none inherit; 
               border-bottom: 1px solid #000000 }
.ms-dpfoot   { text-align: center; font-size: 8pt; height: 24px; font-style: italic; 
               border-left: medium none inherit; 
               border-right: medium none inherit; 
               border-top: 1px solid inherit; 
               border-bottom: medium none inherit }
.ms-dphead   { font-weight: bold; color: #ffff66; text-align: center; font-size: 8pt; 
               background-color: #663399; border: medium none inherit }
.ms-dpnonmonth { font-size: 8pt; color: gray; text-align: center; border: medium none inherit }
.ms-dpselectedday { font-size: 8pt; background-color: #ffffcc; text-align: center; 
               border: medium none inherit }
.ms-filedialog td { height: 16px }
.ms-formbody { text-align: left; color: #000000; font-size: 9pt }
.ms-formdescription { font-size: 9pt; color: #000000 }
.ms-formdescription a { text-decoration: underline; color: #cc6633 }
.ms-formlabel { color: #000000; text-align: left; font-size: 9pt; font-weight: normal }
.ms-homepagetitle { color: #999900; text-decoration: none; font-weight: bold; font-size: 10pt }
.ms-homepagetitle:hover { text-decoration: underline; color: #999900 }
.ms-input    { vertical-align: baseline; font-size: 9pt }
.ms-itemheader a { font-weight: normal; font-size: 9pt; color: #cc6633; text-decoration: none }
.ms-itemheader a:hover { text-decoration: underline; color: #999900 }
.ms-itemheader a:visited { color: #663399; text-decoration: none }
.ms-itemheader a:hover { text-decoration: underline }
.ms-long     { width: 300px; font-size: 9pt }
.ms-main     { border-right: 50px solid #663399 }
.ms-nav a    { font-size: 9pt; font-weight: normal; color: #cc6633; text-decoration: none }
.ms-nav a:hover { text-decoration: underline; color: #999900 }
.ms-nav a:visited { color: #663399 }
.ms-nav td   { font-weight: normal; font-size: 9pt; color: #000000 }
.ms-nav th   { text-align: left; font-weight: normal; color: #000000; font-size: 9pt }
.ms-navframe { color: #000000; border-left: 4px solid #666633 }
.ms-pagetitle { color: #333399; font-weight: bold; font-size: 14pt }
.ms-pagetitle a { text-decoration: underline; color: #333399 }
.ms-pagetitle a:hover { text-decoration: underline; color: #333399 }
.ms-propertysheet { font-size: 9pt }
.ms-propertysheet a { color: #cc6633; text-decoration: none }
.ms-propertysheet a:hover { color: #999900; text-decoration: underline }
.ms-propertysheet a:visited { color: #663399; text-decoration: none }
.ms-propertysheet a:hover { text-decoration: underline }
.ms-propertysheet th { font-size: 9pt; font-weight: normal; color: #000000 }
.ms-radiotext { text-align: left; font-size: 10pt; cursor: default; height: 19px }
.ms-searchbox { width: 100% }
.ms-sectionheader { color: #999900; font-size: 10pt; font-weight: bold }
.ms-sectionline { background-color: #9966cc; height: 2px }
.ms-selected { color: #000000; background-color: #ffff99 }
.ms-selected span { color: #000000 }
.ms-separator { font-size: 10pt; color: #996699 }
.ms-titlearea { font-size: 9pt; color: #000000 }
.ms-titleareaframe { color: #000000; border-left: 4px solid #666633 }
.ms-toolbar  { font-size: 9pt; text-decoration: none; color: #cc9966 }
.ms-vb       { height: 18px; font-size: 9pt; vertical-align: top; color: #000000 }
.ms-vb a     { text-decoration: none; color: #cc6633 }
.ms-vb a:hover { color: #999900; text-decoration: underline }
.ms-vb a:visited { text-decoration: none; color: #663399 }
.ms-vb a:hover { text-decoration: underline }
.ms-verticaldots { background-repeat: repeat-y; background-image: url('blank.gif'); 
               background-position: right 50% }
.ms-vh       { text-decoration: none; color: #000000; text-align: left; font-weight: normal; 
               font-size: 9pt }
.ms-vh a     { color: #cc6633; text-decoration: none }
.ms-vh a:hover { text-decoration: underline }
.ms-viewselect a:link { font-size: 9pt; color: #cc6633 }
.ms-wvsel    { color: #999999 }
.mstheme     { top-bar-button: url(looglob.gif); navbutton-background-color: rgb(255,255,204) }
.mstheme-topbar-font { color: rgb(0,0,0); font-size: 8pt }
body         { background-image: url('lootextb.jpg'); text-align: none; vertical-align: none; 
               font-weight: normal; font-style: normal }
button       { font-size: 8pt; font-style: Normal; border-style: solid; border-width: 1pt }
caption      { font-style: Normal; font-size: 14pt }
fieldset     { font-style: normal; font-size: 8pt; border-style: solid; border-width: 1pt }
h1           { font-weight: normal; font-style: normal; font-size: 24pt }
h2           { font-style: normal; font-weight: normal; font-size: 18pt }
h3           { font-weight: normal; font-style: normal; font-size: 14pt }
h4           { font-weight: normal; font-style: normal; font-size: 12pt }
h5           { font-weight: normal; font-size: 10pt; font-style: normal }
h6           { font-weight: normal; font-style: normal; font-size: 8pt }
img.ms-button { cursor: hand }
label        { font-style: Normal; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-style: Normal }
legend       { font-style: Normal; font-size: 8pt }
marquee      { font-size: 14pt }
select       { font-size: 9pt; font-style: normal; border-style: solid; border-width: 1pt }
table        { font-weight: normal; font-style: normal; vertical-align: none; text-align: 
               none }
textarea     { font-size: 8pt; font-style: normal; border-style: solid; border-width: 1pt }
th           { font-style: normal }
